@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    font-family: 'Open Sans'
}

.dropdown-menu:hover > .dropdown-menu-content {
    display: block;
    opacity: 100%;
}

.dropdown-lang:hover > .dropdown-lang-content {
    display: block;
    opacity: 100%;
}